Makefile*
debug
release
object_script*
*.app
.DS_Store
build
*.xcodeproj
*.sln
*.vcproj*
*.vcxproj*
*.suo
*.pdb
vc90.*
*.ncb
*.sdf
*.local
*.pro.user.*
ui_*.h
*.pro.user
plvcore-build
plvgui-build
plvheadless-build*
plvgraphical-build*
libs
test
ipch
common.pri

