Makefile*
debug
release
object_script*
*.app
.DS_Store
build
*.xcodeproj
ParleVision.sln
ParleVision.vcproj*
ParleVision.suo
vc90.*
ParleVision.ncb
ParleVision.local
*.pro.user.*
ui_*.h
*.pro.user
plvcore-build
plvgui-build
plvheadless-build*
plvgraphical-build*
libs
